In [138]:
import pandas as pd
import json

In [139]:
dict = {

'BRO': {

'BSN': { 'W': 10, 'L': 12 },

'CHC': { 'W': 15, 'L': 7 },

'CIN': { 'W': 15, 'L': 7 },

'NYG': { 'W': 14, 'L': 8 },

'PHI': { 'W': 14, 'L': 8 },

'PIT': { 'W': 15, 'L': 7 },

'STL': { 'W': 11, 'L': 11 }

},

'BSN': {

'BRO': { 'W': 12, 'L': 10 },

'CHC': { 'W': 13, 'L': 9 },

'CIN': { 'W': 13, 'L': 9 },

'NYG': { 'W': 13, 'L': 9 },

'PHI': { 'W': 14, 'L': 8 },

'PIT': { 'W': 12, 'L': 10 },

'STL': { 'W': 9, 'L': 13 }

},

'CHC': {

'BRO': { 'W': 7, 'L': 15 },

'BSN': { 'W': 9, 'L': 13 },

'CIN': { 'W': 12, 'L': 10 },

'NYG': { 'W': 7, 'L': 15 },

'PHI': { 'W': 16, 'L': 6 },

'PIT': { 'W': 8, 'L': 14 },

'STL': { 'W': 10, 'L': 12 }

},

'CIN': {

'BRO': { 'W': 7, 'L': 15 },

'BSN': { 'W': 9, 'L': 13 },

'CHC': { 'W': 10, 'L': 12 },

'NYG': { 'W': 13, 'L': 9 },

'PHI': { 'W': 13, 'L': 9 },

'PIT': { 'W': 13, 'L': 9 },

'STL': { 'W': 8, 'L': 14 }

},

'NYG': {

'BRO': { 'W': 8, 'L': 14 },

'BSN': { 'W': 9, 'L': 13 },

'CHC': { 'W': 15, 'L': 7 },

'CIN': { 'W': 9, 'L': 13 },

'PHI': { 'W': 12, 'L': 10 },

'PIT': { 'W': 15, 'L': 7 },

'STL': { 'W': 13, 'L': 9 }

},

'PHI': {

'BRO': { 'W': 8, 'L': 14 },

'BSN': { 'W': 8, 'L': 14 },

'CHC': { 'W': 6, 'L': 16 },

'CIN': { 'W': 9, 'L': 13 },

'NYG': { 'W': 10, 'L': 12 },

'PIT': { 'W': 13, 'L': 9 },

'STL': { 'W': 8, 'L': 14 }

},

'PIT': {

'BRO': { 'W': 7, 'L': 15 },

'BSN': { 'W': 10, 'L': 12 },

'CHC': { 'W': 14, 'L': 8 },

'CIN': { 'W': 9, 'L': 13 },

'NYG': { 'W': 7, 'L': 15 },

'PHI': { 'W': 9, 'L': 13 },

'STL': { 'W': 6, 'L': 16 }

},

'STL': {

'BRO': { 'W': 11, 'L': 11 },

'BSN': { 'W': 13, 'L': 9 },

'CHC': { 'W': 12, 'L': 10 },

'CIN': { 'W': 14, 'L': 8 },

'NYG': { 'W': 9, 'L': 13 },

'PHI': { 'W': 14, 'L': 8 },

'PIT': { 'W': 16, 'L': 6 }

}

}

In [142]:
df = pd.DataFrame.from_dict({(i,j): dict[i][j] 
                           for i in dict.keys() 
                           for j in dict[i].keys()},
                       orient='index').reset_index()
df= df[['level_0', 'level_1', 'L']]
df

   level_0 level_1   L
0      BRO     BSN  12
1      BRO     CHC   7
2      BRO     CIN   7
3      BRO     NYG   8
4      BRO     PHI   8
5      BRO     PIT   7
6      BRO     STL  11
7      BSN     BRO  10
8      BSN     CHC   9
9      BSN     CIN   9
10     BSN     NYG   9
11     BSN     PHI   8
12     BSN     PIT  10
13     BSN     STL  13
14     CHC     BRO  15
15     CHC     BSN  13
16     CHC     CIN  10
17     CHC     NYG  15
18     CHC     PHI   6
19     CHC     PIT  14
20     CHC     STL  12
21     CIN     BRO  15
22     CIN     BSN  13
23     CIN     CHC  12
24     CIN     NYG   9
25     CIN     PHI   9
26     CIN     PIT   9
27     CIN     STL  14
28     NYG     BRO  14
29     NYG     BSN  13
30     NYG     CHC   7
31     NYG     CIN  13
32     NYG     PHI  10
33     NYG     PIT   7
34     NYG     STL   9
35     PHI     BRO  14
36     PHI     BSN  14
37     PHI     CHC  16
38     PHI     CIN  13
39     PHI     NYG  12
40     PHI     PIT   9
41     PHI     STL  14
42     PIT     BRO  15
43     PIT     BSN  12
44     PIT     CHC   8
45     PIT     CIN  13
46     PIT     NYG  15
47     PIT     PHI  13
48     PIT     STL  16
49     STL     BRO  11
50     STL     BSN   9
51     STL     CHC  10
52     STL     CIN   8
53     STL     NYG  13
54     STL     PHI   8
55     STL     PIT   6

In [144]:
df_wide=pd.pivot(df, index=['level_1'], columns = 'level_0',values = 'L') 
df_wide

level_0   BRO   BSN   CHC   CIN   NYG   PHI   PIT   STL
level_1
BRO       NaN  10.0  15.0  15.0  14.0  14.0  15.0  11.0
BSN      12.0   NaN  13.0  13.0  13.0  14.0  12.0   9.0
CHC       7.0   9.0   NaN  12.0   7.0  16.0   8.0  10.0
CIN       7.0   9.0  10.0   NaN  13.0  13.0  13.0   8.0
NYG       8.0   9.0  15.0   9.0   NaN  12.0  15.0  13.0
PHI       8.0   8.0   6.0   9.0  10.0   NaN  13.0   8.0
PIT       7.0  10.0  14.0   9.0   7.0   9.0   NaN   6.0
STL      11.0  13.0  12.0  14.0   9.0  14.0  16.0   NaN